
{% extends 'base.html' %}
{% load i18n %}

{% block content %} 


<section class="site-hero inner-page overlay" style="background-image: url(/static/images/hero_4.jpg)" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row site-hero-inner justify-content-center align-items-center">
      <div class="col-md-10 text-center" data-aos="fade">
        <h1 class="heading mb-3">{% trans "Payment" %}</h1>
        <ul class="custom-breadcrumbs mb-4">
          <li><a href="index.html">{% trans "Home" %}</a></li>
          <li>&bullet;</li>
          <li>{% trans "Payment" %}</li>
        </ul>
      </div>
    </div>
  </div>

  <a class="mouse smoothscroll" href="#next">
    <div class="mouse-icon">
      <span class="mouse-wheel"></span>
    </div>
  </a>
</section>
<!-- END section -->

<section class="section contact-section" id="next">
  <div class="container">
    <div class="row">
      <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">
        
        <form action="#" method="post" class="bg-white p-md-5 p-4 mb-5 border">
          {% csrf_token %}

          <div class="row">
            <div class="col-md-12 form-group">
              <label for="adults" class="font-weight-bold text-black">Ecocash {% trans "Phone Number" %}</label>
              <div class="field-icon-wrap">
                {{form.phone_number}}
              </div>
            </div>
          </div>

          

          
          <div class="row">
            <div class="col-md-6 form-group">
              <input type="submit" value="Make Payment" class="btn btn-primary text-white py-3 px-5 font-weight-bold">
            </div>
          </div>
        </form>

      </div>
      <div class="col-md-5" data-aos="fade-up" data-aos-delay="200">
        <div class="row">
          <div class="col-md-10 ml-auto contact-info">
            <p><span class="d-block">{% trans "Price" %}: </span> <span class="text-black"> $ {{booking.price}}</span></p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>







{% endblock %} 






