
{% extends 'base.html' %}
{% load i18n %}

{% block content %} 

<section class="site-hero inner-page overlay" style="background-image: url(/static/images/hero_4.jpg)" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row site-hero-inner justify-content-center align-items-center">
      <div class="col-md-10 text-center" data-aos="fade">
        <h1 class="heading mb-3">{% trans "Bookings" %}</h1>
        <ul class="custom-breadcrumbs mb-4">
          <li><a href="{% url 'recommendations:home' %}">{% trans "Home" %}</a></li>
          <li>&bullet;</li>
          <li>{% trans "Bookings" %}</li>
        </ul>
      </div>
    </div>
  </div>

  <a class="mouse smoothscroll" href="#next">
    <div class="mouse-icon">
      <span class="mouse-wheel"></span>
    </div>
  </a>
</section>





<section class="section">
  <div class="container">
      <div class="row justify-content-center text-center mb-5">
          <div class="col-md-7">
              <h2 class="heading" data-aos="fade-up">{% trans "Accommodations Bookings" %}</h2>
          </div>
      </div>
      <div class="row">

        <div class="table-responsive">
          <table id="data-table-2" class="table table-striped thead-primary w-100 dataTable no-footer"
              role="grid" aria-describedby="data-table-2_info" style="width: 720px;">
              <thead>
                  <tr role="row">
                      <th class="" tabindex="0" aria-controls="data-table-2" rowspan="1"
                          colspan="1" aria-sort="ascending"
                           style="width: 37px;">{% trans "Accommodation" %}</th>
                      <th class="" tabindex="0" aria-controls="data-table-2" rowspan="1" colspan="1"
                          aria-label="Address: activate to sort column " style="width: 51px;">{% trans "Room" %}
                      </th>
                      <th class="" tabindex="0" aria-controls="data-table-2" rowspan="1" colspan="1"
                          aria-label="Disease: activate to sort column ascending" style="width: 49px;">{% trans "Check In" %}
                      </th>
                      <th class="" tabindex="0" aria-controls="data-table-2" rowspan="1" colspan="1"
                          aria-label="Disease: activate to sort column ascending" style="width: 49px;">{% trans "Check Out" %}
                      </th>
                      <th class="" tabindex="0" aria-controls="data-table-2" rowspan="1" colspan="1"
                          aria-label="Age: activate to sort column ascending" style="width: 25px;">{% trans "Status" %}
                      </th>
                  </tr>
              </thead>
              <tbody>
  
                  {% for accommodation_booking in accommodations_bookings %}
                      <tr role="row" class="odd">
                          <td class="sorting_1">{{accommodation_booking.accommodation.name}}</td>
                          <td>{{ accommodation_booking.room.name }}</td>
                          <td>{{accommodation_booking.start_date}}</td>
                          <td>{{accommodation_booking.end_date}}</td>
                          <td>{{accommodation_booking.status}}</td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
      </div>
  </div>
</section>











<section class="section blog-post-entry bg-light">
  <div class="container">
      <div class="row justify-content-center text-center mb-5">
          <div class="col-md-7">
              <h2 class="heading" data-aos="fade-up">{% trans "Activities Booking" %}</h2>
          </div>
      </div>
      <div class="row">

        <div class="table-responsive">
          <table id="data-table-2" class="table table-striped thead-primary w-100 dataTable no-footer"
              role="grid" aria-describedby="data-table-2_info" style="width: 720px;">
              <thead>
                  <tr role="row">
                      <th class="" tabindex="0" aria-controls="data-table-2" rowspan="1"
                          colspan="1" aria-sort="ascending"
                           style="width: 37px;">{% trans "Activity" %}
                      </th>
                      <th class="" tabindex="0" aria-controls="data-table-2" rowspan="1" colspan="1"
                          aria-label="Address: activate to sort column " style="width: 51px;">{% trans "Date" %}
                      </th>
                      <th class="" tabindex="0" aria-controls="data-table-2" rowspan="1" colspan="1"
                          aria-label="Disease: activate to sort column ascending" style="width: 49px;">{% trans "Number of People" %}
                      </th>
                      <th class="" tabindex="0" aria-controls="data-table-2" rowspan="1" colspan="1"
                          aria-label="Age: activate to sort column ascending" style="width: 25px;">{% trans "Status" %}
                      </th>
                  </tr>
              </thead>
              <tbody>
  
                  {% for activity_booking in activity_bookings %}
                      <tr role="row" class="odd">
                          <td class="sorting_1">{{activity_booking.activity.name}}</td>
                          <td>{{ activity_booking.date }}</td>
                          <td>{{activity_booking.people}}</td>
                          <td>{{activity_booking.status}}</td>

                      </tr>
                  {% endfor %}
                  
  
  
              </tbody>
          </table>
  
      </div>
          

          


      </div>
  </div>
</section>






















{% endblock %} 


<!-- 


<!DOCTYPE html>
<html>
<head>
  <title>Activities List</title>
</head>
<body>
  <h1>Activities</h1>
  <ul>
    {% for activity in object_list %}
      <li><a href="{% url 'activities:activity_detail' activity.pk %}">{{ activity.name }}</a></li>
    {% endfor %}
  </ul>
</body>
</html> -->
