
{% extends 'base.html' %}
{% load i18n %}

{% block content %} 

<section class="site-hero inner-page overlay" style="background-image: url(/static/images/hero_4.jpg)" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row site-hero-inner justify-content-center align-items-center">
      <div class="col-md-10 text-center" data-aos="fade">
        <h1 class="heading mb-3">
          {% trans "Route" %}
        </h1>
        <ul class="custom-breadcrumbs mb-4">
          
            <li><a href="{% url 'recommendations:home' %}">{% trans "Home" %}</a></li>
            <li>&bullet;</li>
            <li>{% trans "Route" %}</li>
          
        </ul>
      </div>
    </div>
  </div>

  <a class="mouse smoothscroll" href="#next">
    <div class="mouse-icon">
      <span class="mouse-wheel"></span>
    </div>
  </a>
</section>

<section class="section">
  <div class="container">
    
    <div class="row">
      <!-- {% for flight in object_list %}
        <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up">
          <a href="{% url 'flights:flight_detail' flight.pk %}" class="room">
            <figure class="img-wrap">
              <img src="{{accommodation.pic.url}}" alt="{{accommodation.name}}" class="img-fluid mb-3">
            </figure>
            <div class="p-3 text-center room-info">
              <h2>{{ flight.name }}</h2>
              <span class="text-uppercase letter-spacing-1">origin -> destination</span>
            </div>
          </a>
        </div>
      {% endfor %} -->

        <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up">
          <div class="p-3 text-center room-info">
            <h2>Flight - {{ generated_route.pk }}</h2>
            <span class="text-uppercase letter-spacing-1">{{generated_route.get_first_flight_origin}} -> {{generated_route.get_last_flight_destination}}</span>

            <ul>
              {% for flight_route in generated_route.flight_routes.all %}
                <li>
                  {{ flight_route.origin.name }} -> {{ flight_route.destination.name }}
                </li>
              {% empty %}
                <p>No flights found.</p>
              {% endfor %}
            </ul>

            <a href="{% url 'flights:flight_booking' generated_route.pk %}">{% trans "Book" %}</a>
          </div>
        </div>

    </div>
  </div>
</section>

{% endblock %} 





